<h1>Articles</h1>

<table>
  <tr>
    <th>TÍTULO</th>
    <th>COMENTÁRIO</th>
  </tr>
  <% @articles.each do |article|%>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.body %></td>
  </tr>
  <% end %>
</table>

